@CHARSET "UTF-8";

body {
	padding-top: 70px;
}

html,body {
	height: 100%;
}

#main-wrap {
	min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -30px;
}

#push,#footer {
	height: 30px;
}

#footer {
	background-color: #f5f5f5;
}

#footer p {
	line-height: 30px; margin: 0;
}

@media ( max-width : 767px) {
	#footer {
		margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px;
	}
}

@media print {
	a[href]:after {
		content: "";
	}
	body {
		padding: 0; margin: 0;
	}
	#footer {
		display: none;
	}
}

div#exception {
	position: fixed; top: 55px; right: 0px; z-index: 5; width: 100%;
}

div#exception strong {
	padding-left: 30px;
}

.table thead a {
	font-weight: bold; text-decoration: none;
}

.req {
	color: #d84d49; font-size: 5pt; vertical-align: top; padding-top: 4px;
}

.spacer-10 {
	height: 10px; clear: both; width: 100%;
}

.spacer-15 {
	height: 15px; clear: both; width: 100%;
}

.spacer-20 {
	height: 20px; clear: both; width: 100%;
}

.spacer-25 {
	height: 25px; clear: both; width: 100%;
}

.spacer-30 {
	height: 30px; clear: both; width: 100%;
}

.cleaner_mini {
	clear: both; height: 1px;
}

.cleaner_micro {
	clear: both; height: 0.1px;
}

#pagesize_box {
	padding-right: 10px; float: right;
}

#pagesize_box select {
	width: 75px; float: left;
}